@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: nunito;
    src: url("../public/fonts/nunuito/Nunito-Medium.ttf");
}

html , body{
    font-family:  nunito , sans-serif ;
}