@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: nunito;
    src: url("../public/fonts/nunuito/Nunito-Medium.ttf");
}

html , body{
    font-family:  nunito , sans-serif ;
}

@layer components {
    
}

.react-datepicker{
    width: 100%;
    
    /* border: none !important;
    background-color: #f0f9ff !important; */
    
}

.react-datepicker__month-container{
    width: 100%;
}

.react-datepicker__day--selected{
    background-color: #818cf8 !important;
}
